<section [ngClass]="{'loading': !taskList.length}">
  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked">
      <input type="text" (keyup)="validationInput(item.task, i)" [(ngModel)]="item.task" [ngClass]="{'checked': item.checked}">

      <button (click)="deleteitem(i)">
        <img src="assets/icons/icon-trash.svg">
      </button>

      <!-- {{item | json}} -->
    </li>
  </ul>
</section>

<app-todos-input-add-itens (emitItem)="setEmitList($event)"></app-todos-input-add-itens>
<app-todo-botton-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-todo-botton-delete-all>
